"*":
  "atom-notes":
    directory: "/home/korben/webo(5GB.nxtcld)/Notes/atom-notes-for-all"
  core:
    disabledPackages: [
      "apply-command"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 22
  "exception-reporting":
    userId: "07288911-de51-4e09-a07a-b37372185b52"
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.notes"
    ]
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "source.gfm.notes"
    ]
  "terminal-plus":
    toggles:
      autoClose: true
  "tool-bar": {}
  welcome:
    showOnStartup: false
